@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.answer {
  padding: 0.75rem;
  transition: background-color 0.3s ease;
}

.answer:not(:last-child) {
  border-bottom: 2px solid #ededed;
}

.answer input {
  margin-right: 0.5rem;
  accent-color: #06b6d4;
}

.answer input:checked + label {
  color: #06b6d4;
  font-weight: 600;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 80%;
  margin: 20px auto;
}

.circular-chart {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.circular-chart.orange .circle {
  stroke: #06b6d4;
}

.percentage {
  fill: #333;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
